*
{
    padding: 0px;
    margin: 0px;
}

html,body
{
    height: 100%;
}
body
{

    display: flex;
    flex-direction: column;
}
body>*
{
    padding: 10px;
    margin: 15px;
}
main
{
    background-color: rgb(37, 37, 37);
    margin: 0px;
}
.sub-body
{
    padding-top: 5px;
    width: 700px;
    margin: auto;
    background-color: white;
    border-radius: 20px;
}
body>main>*
{
    padding: 15px;
    margin: 15px; 
    width: 700px;
}
header
{
    display: flex;
    margin-top: 20px;
    align-items: center;
    justify-content: space-between;
}
header>div
{
    align-items: center;
    display: flex;
}
.buscador
{
    display: flex;
    width: 40%;
}
.texto
{
    padding-left: 20px;
    height: 35px;
    width: 75%;
    border-radius: 20px;
    font-size:larger;
}
.busca
{
    height: 35px;
    width: 65px;
    border-radius: 20px;
    cursor: pointer;
    font-size:large;
    background-color: white;
    align-items: center;
}
.logo
{
    margin-block: auto;
    height: 30px;
    width: 55px;
    border: 4px, solid;
    border-radius: 100%;
    padding-block: 10px;
    margin-right: 20px;
}
.cesta
{
    height: 77.38px;
    width: 125px;
    margin-left: 0px;
    transition: 0.5s;
}
.cesta:hover
{
    transform: scale(1.1);
    transition: 0.5s;
}
nav
{
    margin: 0;
    background-color: rgb(37, 37, 37);
}
nav>*
{
    text-align: center;
}
nav>*>*
{
    margin-inline: 10px;
    display: inline-block;
}
.kanit-semibold {
    font-family: "Kanit", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
nav>*>*>*
{
    text-decoration: none;
    color: white;
    border: 1px , solid, rgb(37, 37, 37);
    padding: 5px;
    border-radius: 5px;
    background-color: rgb(37, 37, 37);
    transition: 0.5s;
}
nav>*>*>*:hover
{
    background-color: white;
    color: rgb(37, 37, 37);
    transition: 0.5s;
}
main
{
    flex: 1;
    background-color: rgb(37, 37, 37);
    margin: 0px;
}
.sub-body
{
    padding-top: 5px;
    width: 700px;
    margin: auto;
    background-color: white;
    border-radius: 20px;
}
footer
{
    color: white;
    background-color: rgb(37, 37, 37);
    text-align: center;
    position: relative;
    margin: 0;
}
@media (max-width: 768px) {
    .buscador {
        display: none;
    }
    .sub-body{
        width: 80%;
    }

}